

.container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100vw;
    height : 60px;
    background-color: #fff;
    padding: 0 10px;
    position: fixed;
    /* overflow-y:hidden ; */
    /* display: flex;
    align-items: center; */
}    

.logo {
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.logo img{
    height: 50px;
    /* margin-bottom: 10px; */
}


.logo h1 {
    margin-left: 10px;
    font-size: 24px;
}

/* -------------------------------- adjust later */
nav
{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}

.navLinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.navLinks ul
{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    padding: 10px;
    cursor: pointer;
}


.link{
    width: 50px;
    /* height: 50px; */
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
    /* overflow: hidden; */
    /* padding: auto; */
    /* z-index: 5 */
    margin: 0 10px;
}


.link a {
    text-decoration: none;
    color: #333;
    /* overflow-y: hidden; */
    position: absolute;
    /* top: 0; */
    padding: 20px 15px;
    
}

.link a:hover {
    background-color: #AD343E;
    border: solid 1px black;
    text-decoration: none;

}
.btn {
    margin: 0px 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: solid 1px black;
    cursor: pointer;
    border-radius: 5px;
    border-style: double;
    

}

.btn:hover {
    background-color: #AD343E;
    color: white;
}
