<section class="hero">
    <div class="container">
        <!-- <img class="landing-img" src="./landing-bg.png"> -->
    <h1>Best food for <br> your taste</h1>
    <p>
        Discover delectable cuisine and unforgettable moments <br> in our welcoming,
        culinary haven.
    </p>
    <div class="hero-buttons">
        <div>
        <button class="btn book" routerLink="/booking">Book A Table</button>
        <button class="btn explore" routerLink="/menu">Explore Menu</button>
    </div>
    <button class="btn explore" id="login-btn" routerLink="/login">login</button>
    <button class="btn explore" id="login-btn" routerLink="/admin">admin</button>
    </div>
    </div>
</section>
