<div class="menu-container">
    <h1 class="menu-title">Our Menu</h1>
    <p class="menu-subtitle">We consider all the drivers of change give you the components <br> you need to change to create a truly happy experience.</p>
    
    <div class="filter-buttons">
    <button class="filter-btn active">All</button>
    <button class="filter-btn">Breakfast</button>
    <button class="filter-btn">Main Dishes</button>
    <button class="filter-btn">Drinks</button>
    <button class="filter-btn">Desserts</button>
    </div>

    <!-- <div class="menu-grid">
      <div class="menu-item" *ngFor="let item of menuItems">
        <img [src]="item.thumbnail" alt="{{ item.title }}" class="menu-item-image"/>
        <h3>{{ item.title }}</h3>
        <p class="menu-item-price">${{ item.price }}</p>
        <p class="menu-item-description">Made with eggs, lettuce, salt, oil, and other ingredients.</p>
    </div>
    </div> -->

    <!-- <div class="container">
        <h1>Product</h1>
        <div id="product-list" class="product-grid"></div> 
    </div> -->
</div>
