
<div class="menu-bar">
    <h1 class="menu-title">Our Menu</h1>
    <p class="menu-subtitle">We consider all the drivers of change give you the components <br> you need to change to create a truly happy experience.</p>
    
    <div class="filter-buttons">
    <button class="filter-btn active">All</button>
    <button class="filter-btn">Breakfast</button>
    <button class="filter-btn">Main Dishes</button>
    <button class="filter-btn">Drinks</button>
    <button class="filter-btn">Desserts</button>
    </div>
</div>
    


<div class="menu-container">
    <div class="meal-list">
        @for (meal of meals; track $index) {
            <div class="meal-item" [routerLink]="['/meal', meal.idMeal]">
                <img [src]="meal.strMealThumb" alt="{{ meal.strMeal }}" />
                <h3>{{ meal.strMeal }}</h3>
                <p>Price: ${{ meal.price }}</p>
                <button routerLink="/meal/{{ meal.idMeal }}">View Details</button>
            </div>
        }
    </div>
</div>
